<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">C<span class="brand-pure">&#213;</span>R</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="mega-header">
                <li class="mega-header-item">User Xperience <span class="end-of-line">/</span></li>
                <li class="mega-header-item">Ember GenXerators <span class="end-of-line">/</span></li>
                <li class="mega-header-item active">Maps <span class="end-of-line">/</span></li>
                <li class="mega-header-item">Build Tools <span class="end-of-line">/</span></li>
                <li class="mega-header-item">Package Management <span class="end-of-line">/</span></li>
            </ul>        
        </div>
    </nav>      
    <div class="container-fluid" id="main">
        <div class="row-fluid">
            <div class="set-center">
                <div class="col-md-3">
                    <div class="well">               
                        <ul class="list-group">
                        {{#each item in controller}}
                            <li class="list-group-item">{{item}}</li>
                        {{/each}}
                        </ul>
                    </div>      
                </div>
                <div class="col-md-9">            
                    {{outlet}}                                    
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <footer>
            <!-- map placeholder --> 
            <h1>Leaflet.js GEO/Location example...fun with maps!</h1>   
            <div id="map"></div>   
            <ul class="mega-footer">
                <li class="mega-footer-item">User Xperience <span class="end-of-line">/</span></li>
                <li class="mega-footer-item">Ember Generators <span class="end-of-line">/</span></li>
                <li class="mega-footer-item">Maps <span class="end-of-line">/</span></li>
                <li class="mega-footer-item">Build Tools <span class="end-of-line">/</span></li>                
                <li class="mega-footer-item">Package Management <span class="end-of-line">/</span></li>  
            </ul>
            <div class="comment-container">       
                <div class="disqus-me">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = 'freshjs'; // required: replace example with your forum shortname
                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>                    
                </div>
            </div>        
        </footer>
    </div>    
</div>
<script type="text/javascript">
    // L.Icon.Default.imagePath = 'dist/images';
    L.Icon.Default.imagePath = 'images';    
    var map = L.map('map');
    console.log(L.Icon.Default.imagePath);
    map.locate({setView: true, maxZoom: 11});

    function onLocationFound(e) {
            var radius = e.accuracy / 2;

            L.marker(e.latlng).addTo(map)
                .bindPopup("You are within " + radius + " meters from this point").openPopup();

            L.circle(e.latlng, radius).addTo(map);
        }

    map.on('locationfound', onLocationFound);  

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationerror', onLocationError);    

    L.tileLayer('http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png', {
        maxZoom: 14,
        minZoom: 09
    }).addTo(map);  

</script>
