<div class="well">
     <div class="panel">
		<h1 class="content-brand" href="#">C<span class="brand-pure">O</span>REUI</h1>	
     	<h2>Responsive Micro Site Template</h2>
		<img src="images/HTML5_sticker.png">
     	<div class="panel-blurb">
     		<span class="blurb-content">Automatic Image Optimization and Scaling</span>
     	</div>	     	
     	<p>The beauty of working with a full life cycle product template is in it's distibtuion and testing.  CORE UI uses Grunt, Mocha and JSLint to give you all you need to see a concept through from inital planning phase to the delivery and project completion.</p>     	
     	<h2>Built on Boostrap 3 so it's stable and modern</h2>
		<img class="escalator" src="images/escalator-led.jpg">
     	<div class="panel-blurb">
     		<span class="blurb-content">Easy to understand Markup that makes sense...imagine that</span>
     	</div>	     	
     	<p>Our high quality LED lights have proven led chips, natural color, and they are ready to improve everything their light touches.</p>  
     	<h2>Leverages Yeoman, Grunt and Bower for package managment</h2>
		<img class="escalator" src="images/led-shower.jpg">
     	<div class="panel-blurb">
     		<span class="blurb-content">Yo! Make me a website...</span>
     	</div>	     	
     	<p>When you use a LED lighting system, it will give off colors that appear warmer and brighter, makes text easier to read, and your eyes less strained. While your energy costs are reduced up to 50%.</p>        	   	
     </div>
</div>

