<div class="well">
	<div class="panel">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="images/HTML5_sticker.png" class="hero-image">
					<div class="carousel-caption">
						HTML5 makes things simple!
					</div>
				</div>
				<div class="item">
					<img src="images/HTML5_sticker.png" class="hero-image">
					<div class="carousel-caption">
						HTML5 makes things simple!
					</div>
				</div>
				<div class="item ">
					<img src="images/HTML5_sticker.png" class="hero-image">
					<div class="carousel-caption">
						HTML5 makes things simple!
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
		<!-- cor shoutout -->
		<h2>C<span class="brand-pure">&#213;</span>R is a Responsive Micro Framework...Driven by Ember/Boostrap...built and tested with Grunt...Scaffolding/Component Tools thanks to Yeoman...what else do you need?</h2>
		<div class="alpha-content">
			<img class="image-content" src="images/html5_and_css3_logos_1.png">
		</div>
		<div class="panel-blurb">
			<span class="blurb-content">CSS3...HTML5's BFF</span>
		</div>
		<p>C<span class="brand-pure">&#213;</span>R uses Grunt, Yeoman and Bower to give you all you need to see a concept through from inital planning phase to the delivery and project completion.</p>
		<h2>See what's new with HTML5</h2>
		<p>Developing for mobile should be just as easy as it is developing for desktop. We've been working hard in the Chrome DevTools to make things easier for you and it's time to unveil some new features that should dramatically improve your mobile web
			development. First up, remote debugging and then we'll unveil proper mobile emulation...<a href="http://www.html5rocks.com/en/tutorials/developertools/mobile/">Paul Irish on Chrome Dev Tools for Mobile (See video)</a>
		</p>
		<!-- bootstrap shoutout -->
		<div class="alpha-content">
			<img class="image-content" src="images/bootstrap3.jpg">
		</div>
		<!-- for later http://twitter.github.io/ open source init's -->
		<div class="panel-blurb">
			<span class="blurb-content">Built on Boostrap 3 so it's Stable and Responsive</span>
		</div>
		<div class="bs-docs-section">
			<h2>Stay up to date on the development of Bootstrap</h2>
			<ul>
				<li>Read and subscribe to <a href="http://blog.getbootstrap.com/">The Official Bootstrap Blog</a>.</li>
				<li>Have a question that's not a feature request or bug report? <a href="http://groups.google.com/group/twitter-bootstrap">Ask on the mailing list.</a>
				</li>
				<li>Chat with fellow Bootstrappers using IRC in the <code>irc.freenode.net</code> server, in the <a href="irc://irc.freenode.net/#twitter-bootstrap">##twitter-bootstrap channel</a>.</li>
				<li>Find inspiring examples of people building with Bootstrap at the <a href="http://expo.getbootstrap.com">Bootstrap Expo</a>.</li>
			</ul>
		</div>
		<!-- yo shoutout -->
		<div class="alpha-content">
			<img class="image-content" src="images/yo-bundle.png">
		</div>
		<div class="panel-blurb">
			<span class="blurb-content">Leverages Yeoman, Grunt and Bower for package management</span>
		</div>
		<p>
			Yeoman 1.0 is more than just a tool. It's a workflow; a collection of tools and best practices working in harmony to make developing for the web even better.
		</p>
		<p>
			Our workflow is comprised of three tools for improving your productivity and satisfaction when building a web app: yo (the scaffolding tool), grunt (the build tool) and bower (for package management).
		</p>
		<p>
			Yo scaffolds out a new application, writing your Grunt configuration and pulling in relevant Grunt tasks that you might need for your build.
		</p>
		<!-- leaflet shoutout -->
		<div class="alpha-content">
			<img class="image-content" src="images/map-screen.png">
		</div>
		<div class="panel-blurb">
			<span class="blurb-content">An Open-Source JavaScript Library for Mobile-Friendly Interactive Maps</span>
		</div>
		<p>
			Leaflet is a modern open-source JavaScript library for mobile-friendly interactive maps. It is developed by Vladimir Agafonkin with a team of dedicated contributors. Weighing just about 33 KB of JS, it has all the features most developers ever need for
			online maps.
		</p>
		<p>
			Leaflet is designed with simplicity, performance and usability in mind. It works efficiently across all major desktop and mobile platforms out of the box, taking advantage of HTML5 and CSS3 on modern browsers while still being accessible on older ones.
			It can be extended with a huge amount of plugins, has a beautiful, easy to use and well-documented API and a simple, readable source code that is a joy to contribute to.
		</p>
	</div>
</div>