/* [09] Fonts
-------------------------------------------------------*/
/* @font-face {
    font-family:'SerifaStd45Light';
    src: url('fonts/serifastd-light-webfont.eot?') format('eot'), url('fonts/serifastd-light-webfont.woff') format('woff'), url('fonts/serifastd-light-webfont.ttf') format('truetype'), url('fonts/serifastd-light-webfont.svg#webfonti40PSMy5') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'SerifaStd65Bold';
    src: url('fonts/serifastd-bold-webfont.eot?') format('eot'), url('fonts/serifastd-bold-webfont.woff') format('woff'), url('fonts/serifastd-bold-webfont.ttf') format('truetype'), url('fonts/serifastd-bold-webfont.svg#webfont6rd2oKQN') format('svg');
    font-style: normal;
    font-weight: 400;
}*/
@font-face {
    font-family:'SerifaBold';
    src: url('fonts/serifa_bold-webfont.eot?'), url('fonts/serifa_bold-webfont.woff') format('woff'), url('fonts/serifa_bold-webfont.ttf') format('truetype'), url('fonts/serifa_bold-webfont.svg#webfontDzRjFeN8') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'SerifaBlack';
    src: url('fonts/serifa_black-webfont.eot?'), url('fonts/serifa_black-webfont.woff') format('woff'), url('fonts/serifa_black-webfont.ttf') format('truetype'), url('fonts/serifa_black-webfont.svg#webfontDzRjFeN8') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'SerifaLight';
    src: url('fonts/serifa_light-webfont.eot?'), url('fonts/serifa_light-webfont.woff') format('woff'), url('fonts/serifa_light-webfont.ttf') format('truetype'), url('fonts/serifa_light-webfont.svg#webfontKqCC3CdP') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'SerifaRoman';
    src: url('fonts/serifa_regular-webfont.eot?'), url('fonts/serifa_regular-webfont.woff') format('woff'), url('fonts/serifa_regular-webfont.ttf') format('truetype'), url('fonts/serifa_regular-webfont.svg#webfonteVsSsEeM') format('svg');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family:'UniversLTBold';
    src: url('fonts/universltstd-bold-webfont.eot?'), url('fonts/universltstd-bold-webfont.woff') format('woff'), url('fonts/universltstd-bold-webfont.ttf') format('truetype'), url('fonts/universltstd-bold-webfont.svg#webfontGYp1RLpL') format('svg');
    font-style: normal;
    font-weight: 400;
}
.SerifaBold {
    font-family:'SerifaBold', sans-serif;
    font-weight: 400;
}
.SerifaBlack {
    font-family:'SerifaBlack', sans-serif;
    font-weight: 400;
}
.SerifaLight {
    font-family:'SerifaLight', sans-serif;
    font-weight: 400;
}
.SerifaRoman {
    font-family:'SerifaRoman', sans-serif;
    font-weight: 400;
}
.UniversLTBold {
    font-family:"UniversLTBold", Arial, Helvetica, "Sans-Serif";
    font-size-adjust: 0.51;
    font-weight: 400;
}
