@import "bootstrap-sass/lib/bootstrap";

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'SerifaLight';
    src: url("fonts/serifa_light-webfont.eot?"), url("fonts/serifa_light-webfont.woff") format("woff"), url("fonts/serifa_light-webfont.ttf") format("truetype"), url("fonts/serifa_light-webfont.svg#webfontKqCC3CdP") format("svg");
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/glyphicons-halflings-regular.eot");
    src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}


.SerifaLight {
    font-weight: 400;
    font-family: 'SerifaLight', sans-serif;
}

html,
body {
    margin: 30px 0;
    height: 100%;
    background-color: rgb(239, 239, 239);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(239, 239, 239)), to(rgb(255, 255, 255)));
    background-image: -webkit-linear-gradient(top, rgb(239, 239, 239), rgb(255, 255, 255));
    background-image: -moz-linear-gradient(top, #efefef, white);
    background-image: -o-linear-gradient(top, #efefef, white);
    background-image: linear-gradient(to bottom, rgb(233, 233, 233), rgb(255, 255, 255));
    background-attachment: fixed;
}

.ember-view a:hover {
    color: rgb(179, 179, 179);
    text-shadow: 1px 1px rgb(255, 255, 255);
}

.ember-view a {
    color: rgb(230, 76, 16);
    text-decoration: none;
}

body {
    color: rgb(129, 129, 129);
}

h2,
h3 {
    text-transform: uppercase;
}

#main {
    margin: 0 auto;
    width: 90%;
}

.ember-view .navbar-default {
    overflow: inherit;
    margin-bottom: 0;
    max-height: 100px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
}

.ember-view .navbar-default .navbar-brand {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 38px;
    font-family: "SerifaLight";
    line-height: 38px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: rgb(49, 114, 134);
    text-shadow: 1px 1px rgba(0, 0, 0, 0);
}

.ember-view .navbar-collapse.navbar-ex1-collapse.in {
    position: relative;
    top: -5px;
    width: 100%;
    border-color: rgb(0, 0, 0);
    background: rgb(17, 17, 17);
    box-shadow: inset 0 50px 25px rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.ember-view .navbar-default .navbar-toggle {
    border-color: rgb(0, 0, 0);
    background: rgb(238, 63, 8);
    box-shadow: 0 0 25px rgb(0, 0, 0);
    color: rgb(238, 63, 8);
}

.ember-view .navbar-default .navbar-toggle:hover {
    background: rgb(60, 59, 59);
    color: rgb(255, 255, 255);
}

.brand-pure {
    padding: 0;
    color: rgb(248, 46, 8);
    font-weight: 200;
}

.navbar-brand:hover .brand-pure {
    color: rgb(255, 255, 255);
}

.ember-view .navbar-default .navbar-toggle .icon-bar {
    background-color: rgb(255, 255, 255);
}

a.content-brand {
    color: rgb(248, 46, 8);
    font-weight: 100;
    font-size: 24px;
}

strong.routes-group {
    font-weight: 100;
    font-size: 18px;
}

.list-group {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 0;
    border-radius: 8px 8px 8px 8px;
    background: rgb(114, 218, 213);
}

.list-group-item:hover a {
    color: rgb(255, 255, 255);
}
.mega-header-item:hover span {
    color: rgb(255, 61, 0);
}
.list-group-item:hover {
    border-top: 1px solid rgb(100, 100, 100);
    border-right: 15px solid rgba(0, 0, 0, 0.17);
    border-bottom-color: rgb(29, 29, 29);
    border-left: 1px solid rgb(160, 160, 160);
    background-color: rgb(107, 107, 107);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px rgb(0, 0, 0);
    margin-bottom: 0px;
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px 10px 25px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
}

.list-group-item a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.list-group-item a {
    padding-left: 15px;
    color: rgb(246, 66, 33);
    text-decoration: none;
}

.list-group .tooltip-inner {
    overflow: visible;
    padding: 10px 15px;
    min-width:125px;
    max-width: 125px;
    width:125px;
    box-shadow: 0 0 15px #000;
    color:#ccc;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: 200;
    font-size: 13px;
    line-height: 18px;
}

.well h1 {
    margin-top: 0;
    padding: 0;
    color: rgb(34, 19, 3);
    font-weight: 100;
    font-size: 30px;
}

.well {
    overflow: auto;
    margin-bottom: 20px;
    padding: 19px;
    min-height: 20px;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 4px;
    background-color: whitesmoke;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well.sidebar-nav {
    margin-left: 25px;
}

h1.hero {
    font-size: 50px;
    font-family: SerifaLight;
    opacity: 1.0;
}

.panel {
    position: relative;
}

.panel h2 {
    margin: 20px 0 20px;
    padding: 0 50px;
    color: rgb(36, 174, 201);
    text-align: center;
    text-transform: none;
    font-weight: 200;
    font-size: 22px;
    line-height: 25px;
}

.panel p {
    padding: 0 10px 10px 20px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300;
    font-size: 15px;
    line-height: 25px;
}

h2 + ul {
    margin-left: 0;
    padding: 0 10px 10px 10px;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
}

h2 + ul li {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-left: 1px solid rgba(236, 125, 22, 0.5);
    border-radius: 0 0 0 4px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.11);
    list-style: none;
}

.well img {
    margin: 35px 5% 40px 5%;
    max-width: 100%;
    width: 90%;
    background: whitesmoke;
}

.well img.hero-image {
    margin: 0 auto;
    width: 83%;
}

.panel-blurb {
    position: relative;
    top: -76px;
    margin-bottom: -40px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    width: 100%;
    background: rgb(226, 226, 226);
    color: rgb(155, 155, 155);
    text-align: center;
    font-weight: 200;
    font-size: 35px;
    line-height: 30px;
}

.blurb-content {
    text-align: center;
    text-transform: none;
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-weight: 100;
    font-size: 35px;
    line-height: 30px;
}

.alpha-content {
    display: block;
    overflow: hidden;
    margin: 0 auto 77px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.14);
    box-shadow: inset 0 0 20px;
}

footer {
    float: left;
    clear: both;
    overflow: auto;
    margin-top: 55px;
    padding: 0;
    width: 100%;
    border-top: 1px solid rgb(0, 0, 0);
    background: rgb(51, 51, 51);
    box-shadow: 10px 10px 35px rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.mega-footer {
    overflow: auto;
    margin: 0 auto 0 0;
    padding: 0 70px;
    width: 100%;
    border-top: 2px solid rgb(46, 46, 46);
    background: rgb(77, 75, 75);
    box-shadow: 0 5px 20px rgb(34, 34, 34);
    list-style: none;
}

.mega-footer-item:hover {
    border-bottom: 5px solid rgb(248, 46, 8);
    background: rgb(226, 226, 226);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    color: rgb(248, 46, 8);
    text-shadow: 1px 1px rgb(255, 255, 255);
    font-weight: 400;
    cursor: pointer;
}

.mega-footer-item {
    float: left;
    margin-bottom: 0;
    padding: 20px 10px 10px 10px;
    min-height: 75px;
    width: 19.875%;
    border-top: 5px solid rgb(236, 52, 16);
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 17px;
    font-family: "SerifaLight";
    line-height: 20px;
}

.mega-header {
    margin-left: 0;
    width: 100%;
    list-style: none;
}

.mega-header-item:hover {
    border-bottom: 4px solid rgb(245, 63, 6);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.mega-header-item {
    float: left;
    margin-top: 17px;
    margin-right: 20px;
    width: auto;
    height: 38px;
    color: rgba(17, 165, 223, 0.44);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 15px;
}

.mega-header-item.active {
    height: 38px;
    border-bottom: 3px solid rgb(0, 200, 255);
    border-radius: 0;
    color: rgb(14, 192, 226);
    text-shadow: 1px 1px rgb(0, 0, 0);
    cursor: pointer;
}

.mega-header-item.active:hover {
    border-bottom-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.comment-container {
    clear: both;
    margin: 1px auto 0 auto;
    padding: 30px;
    min-height: 200px;
    width: 89%;
    background: rgb(51, 51, 51);
    box-shadow: inset 0 0 25px rgb(0, 0, 0);
}

.comment-container h2 {
    display: block;
    margin: 0 auto;
    padding: 0 35%;
    width: 100%;
    color: rgb(230, 56, 13);
    text-align: center;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-family: "SerifaLight";
}

.disqus-me {
    margin: 0 auto;
    width: 100%;
}

.ember-view .carousel-caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    z-index: 10;
    overflow: visible;
    padding: 40px 85px;
    width: 100%;
    height: 60%;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.28);
    color: rgb(250, 250, 250);
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: none;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    font-weight: 300;
    font-size: 35px;
    font-family: "SerifaLight";    
}

.carousel-inner {
    min-height: 345px;
    max-height: 345px;
    height: 345px;
    border-top: solid 10px rgb(24, 24, 24);
    background: rgb(29, 29, 29);
    box-shadow: inset 0 -25px 50px rgb(0, 0, 0);
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    z-index: 100;
    display: inline-block;
    color: rgb(255, 255, 255);
    text-shadow: none;
}

.carousel-control.left, .carousel-control.right {
    z-index: 100;
}

.ember-view .carousel-indicators {
    z-index: 100;
}

.ember-view .carousel-indicators .active {
    margin: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    background-color: rgb(231, 91, 25);
}

.set-center {
    margin: 50px auto;
}

#main .well {
    overflow: visible;
    margin: 0 auto;
    max-width: 1040px;
}

#map {
    margin: 0 auto;
    margin-bottom: 50px;
    width: 75%;
    height: 350px;
    border: 10px solid rgb(116, 115, 115);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.96);
}

.leaflet-popup-content {
    color: rgb(51, 51, 51);
}

footer h1 {
    margin: 20px auto;
    width: 80%;
    color: rgb(36, 174, 201);
    text-align: center;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-weight: 700;
    font-family: "SerifaLight";
}

.end-of-line {
    color: rgb(77, 77, 77);
}

.col-md-3.affix {
    left: 2%;
    z-index: 100;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 4px;
    box-shadow: 0 0 20px rgb(158, 158, 158);
}

.ember-view .postbox {
    position: relative;
    margin: 10px auto;
    width: 85%;
}

.last-marker {
    float: left;
    clear:both;
}

/* Responsive *-----*/

@media (max-width: 768px) {
    .mega-header-item {
        clear: both;
        margin-left: -20px;
        width: 100%;
    }    
}

@media (max-width: 992px) {
    .col-md-3.affix {
        position: relative;
        left: 0;
        z-index: 100;
        margin-bottom: 30px;
        width: 100%;
        box-shadow: 0 0 20px rgb(158, 158, 158);
    }
}